.header
  .header__border
    .header-wrapper
      .page-name
        .app-icon-box
          =link_to image_tag('/logo (3).png', alt: 'CAPPAN.com'), "/"
      .menu
        -if user_signed_in?
          %ul.menu-list
            -if current_user.admin?
              %li.menu-option
                = link_to '新規店舗登録'
            %li.menu-option
              = link_to 'アーカイブ'
            %li.menu-option
              = link_to 'ログアウト'
        - else
          %ul.menu-list
            %li.menu-option
              = link_to '行ったお店', new_user_session_path
            %li.menu-option
              = link_to 'アーカイブ', new_user_session_path
            %li.menu-option
              = link_to 'ログイン', new_user_session_path
